pkgbase = openvslam-git
	pkgdesc = A Versatile Visual SLAM Framework
	pkgver = r475.c7db4f6
	pkgrel = 1
	url = https://github.com/xdspacelab/openvslam
	arch = x86_64
	license = BSD2
	makedepends = cmake
	makedepends = git
	depends = dbow2-openvslam-git
	depends = eigen
	depends = g2o
	depends = intel-tbb
	depends = metis
	depends = openblas
	depends = opencv
	depends = openmp
	depends = pangolin
	depends = suitesparse
	depends = yaml-cpp
	provides = openvslam
	source = git+https://github.com/xdspacelab/openvslam
	source = missing-include.patch::https://github.com/xdspacelab/openvslam/commit/75699f2d842ee13eb3306653383599c25da89f7c.patch
	sha256sums = SKIP
	sha256sums = 32550aef06733b7f61e7bd658ba6ac1c4c6363a22f6797f7b942f29a62d3015e

pkgname = openvslam-git

